

.container{
    background-color: #f9f8fb;
    min-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px
}
.App-Bar{
    background-color: #000000;
    color: #ffffff;
    float: left;
    padding: 1em;
    width: 100%;
    margin-bottom: 1.5em;
}

.Sensor-Details{
    float: left;
    margin-right: 100px;
}

.restart{
    margin-top: 2em;
    margin-right: 3em;
    justify-content: flex-end;
    display: flex;
}

.row{
    padding-top: 0.5em;
    padding-bottom: 0.5em;    
    background: #fff;
    margin-left: 1.5em;
    margin-right: 1.5em;
    
}

.column{  
    float: left;
    width: 23.5%;
    padding: 5px;
    text-align: center;
}

.list{
    margin-top: 3.125em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 1em;
}
.list-item{
    margin-top: 1em;
    padding-top: 1em;
    background: #fff;    
    float: left;
    width: 100%;
    padding-left: 2em;
    padding-bottom: 2em;
}
.list-icon{
    float: left;
    margin-right: 1.25em;
    padding-right: 2.5em;
}

.live-data{
    margin-bottom: 0.25em;
}